<app-loading *ngIf="isLoading"></app-loading>

<section class="loads-list">
  <h1>Loads list</h1>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">
    <ng-container matColumnDef="isNew">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span [hidden]="row.isNew ? null : 'disabled'">
          <i class="material-icons">
            new_releases
          </i>
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pickUpDateTime">
      <mat-header-cell *matHeaderCellDef>Pick up time </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.pickUpDateTime | date:'medium'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pickUpLocation">
      <mat-header-cell *matHeaderCellDef>Pick up location</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.pickUpLocation.name }}</mat-cell>
    </ng-container>

    <mat-divider [vertical]="true"></mat-divider>

    <ng-container matColumnDef="deliveryDateTime">
      <mat-header-cell *matHeaderCellDef>Delivery time</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.deliveryDateTime | date:'medium' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="deliveryLocation">
      <mat-header-cell *matHeaderCellDef>Delivery location</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.deliveryLocation.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="trailerType">
      <mat-header-cell *matHeaderCellDef>Trailer type</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.trailerType.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="commodity">
      <mat-header-cell *matHeaderCellDef>Commodity</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.commodity }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.weight }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="customerRate">
      <mat-header-cell *matHeaderCellDef>Rate</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.customerRate }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="loadStatus">
      <mat-header-cell *matHeaderCellDef>Load Status</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.loadStatus.name }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator class="mat-elevation-z8" [length]="resultsLength" [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons [pageSize]="pageSize"></mat-paginator>

</section>
