.mat-column-isNew {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 2% !important;
  width: 2% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.loads-list {
  margin: 10px 50px; min-height: 88vh
}

.loads-list__actions {
  margin: 10px 0;
}

.load-actions__delete {
  cursor: pointer;
  margin-left: 10px;
}

.load-actions__edit {
  cursor: pointer;
}

.loads-list__load-actions {
  margin: 10px 0;
}
