<app-loading *ngIf="isLoading"></app-loading>
<section class="brokers-list">
  <h1>Brokers list</h1>

  <div class="brokers-list__actions">
    <div align="right">
      <button mat-raised-button color="warn" (click)="onClickAdd()">
        <mat-icon>person_add</mat-icon>
        Add broker
      </button>
    </div>
  </div>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef>Surname</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.surname }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.phone }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="brokers-list__broker-actions">
          <mat-icon class="broker-actions__edit" (click)="onClickEdit(row.id)">edit</mat-icon>
          <mat-icon class="broker-actions__delete" (click)="onClickDelete(row.id)">delete</mat-icon>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator class="mat-elevation-z8" [length]="resultsLength" [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons [pageSize]="pageSize"></mat-paginator>

</section>
