.brokers-list {
  margin: 10px 50px;
  min-height: 88vh;
}

.brokers-list__actions {
  margin: 10px 0;
}

.broker-actions__edit {
  cursor: pointer;
}

.broker-actions__delete {
  cursor: pointer;
  margin-left: 10px;
}
