<app-loading *ngIf="isLoading"></app-loading>
<section class="register-dispatcher-company-form">
  <div fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Register as Dispatcher Company</mat-card-title>
      <mat-card-content>
        <app-company-register-form (submitForm)="onSubmit($event)"></app-company-register-form>
      </mat-card-content>
    </mat-card>
  </div>
</section>