<section>
  <div fxLayoutAlign="center center">
    <form fxLayout="column" [formGroup]="formGroup" (ngSubmit)="onEditLoadSubmit()">
      <mat-autocomplete #autoStates="matAutocomplete" [displayWith]="displayState">
        <mat-option *ngFor="let state of filteredStates" [value]="state">
          {{ state.name }}
        </mat-option>
      </mat-autocomplete>
      <p>Pick up details:</p>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput type="datetime-local" placeholder="Date" formControlName="pickUpDateTime" required />
          <mat-error *ngIf="pickUpDateTime.hasError('required')">
            This field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <!--Pickup state input-->
          <input matInput placeholder="State" (ngModelChange)="onPickUpStateChange($event)"
            (focusout)="refreshFilteredStates()" [matAutocomplete]="autoStates" formControlName="pickUpState"
            required />
          <mat-error *ngIf="pickUpState.hasError('required')">
            This field is required.
          </mat-error>
          <mat-error *ngIf="pickUpState.hasError('incorrect')">
            Please pick a state from the list.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <!--PickUp city input-->
          <input matInput placeholder="City" [matAutocomplete]="autoPickUpCities" (focusout)="refreshFilteredCities()"
            formControlName="pickUpCity" (ngModelChange)="onPickUpCityChange($event)" required />
          <app-spinner matSuffix name="pickUpCitySpinner"></app-spinner>
          <mat-error *ngIf="pickUpCity.hasError('required')">
            This field is required.
          </mat-error>
          <mat-error *ngIf="pickUpCity.hasError('incorrect')">
            Please pick a city from the list.
          </mat-error>
        </mat-form-field>
        <mat-autocomplete #autoPickUpCities="matAutocomplete" [displayWith]="displayCity">
          <mat-option *ngFor="let city of filteredPickUpCities" [value]="city">
            {{ city.name }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <p>Delivery details:</p>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput type="datetime-local" placeholder="Date" formControlName="deliveryDateTime" required />
          <mat-error *ngIf="deliveryDateTime.hasError('required')">
            This field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <!--Delivery state  input-->
          <input matInput placeholder="State" (ngModelChange)="onDeliveryStateChange($event)"
            [matAutocomplete]="autoStates" formControlName="deliveryState" (focusout)="refreshFilteredStates()"
            required />
          <mat-error *ngIf="deliveryState.hasError('required')">
            This field is required.
          </mat-error>
          <mat-error *ngIf="deliveryState.hasError('incorrect')">
            Please pick a state from the list.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <!--Delivery city input-->
          <input matInput placeholder="City" [matAutocomplete]="autoDeliveryCities" (focusout)="refreshFilteredCities()"
            formControlName="deliveryCity" (ngModelChange)="onDeliveryCityChange($event)" required />
          <app-spinner matSuffix name="deliveryCitySpinner"></app-spinner>
          <mat-error *ngIf="deliveryCity.hasError('required')">
            This field is required.
          </mat-error>
          <mat-error *ngIf="deliveryCity.hasError('incorrect')">
            Please pick a city from the list.
          </mat-error>
        </mat-form-field>
        <mat-autocomplete #autoDeliveryCities="matAutocomplete" [displayWith]="displayCity">
          <mat-option *ngFor="let city of filteredDeliveryCities" [value]="city">
            {{ city.name }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <p>Shipping details:</p>
      <div fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="Trailer type" [matAutocomplete]="autoTrailerTypes" formControlName="trailerType"
            (ngModelChange)="onTrailerTypeChange($event)" (focusout)="refreshFilteredTrailerTypes()" required />
          <mat-error *ngIf="trailerType.hasError('required')">
            This field is required.
          </mat-error>
          <mat-error *ngIf="trailerType.hasError('incorrect')">
            Please pick a trailer type from the list.
          </mat-error>
        </mat-form-field>
        <mat-autocomplete #autoTrailerTypes="matAutocomplete" [displayWith]="displayTrailerType">
          <mat-option *ngFor="let trailerType of filteredTrailerTypes" [value]="trailerType" required>
            {{ trailerType.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-form-field>
          <input matInput placeholder="Commodity" formControlName="commodity" required />
          <mat-error *ngIf="commodity.hasError('required')">
            This field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Weight" formControlName="weight" required />
          <mat-error *ngIf="weight.hasError('required')">
            This field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Customer Rate" formControlName="customerRate" required />
          <span matSuffix>$</span>
          <mat-error *ngIf="customerRate.hasError('required')">
            This field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Load status</mat-label>
          <mat-select required formControlName="loadStatus">
            <mat-option *ngFor="let loadStatus of loadStatuses" [value]="loadStatus.id">
              {{ loadStatus.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="loadStatus.hasError('required')">
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>
      <p>General details:</p>
      <mat-form-field>
        <textarea matInput placeholder="Additional info" formControlName="additionalInfo">
        </textarea>
      </mat-form-field>
      <div align="center" class="edit-load-actions">
        <a mat-raised-button (click)="this.dialogRef.close()" class="edit-load-actions__cancel">Cancel</a>
        <button mat-raised-button color="warn" [disabled]="formGroup.invalid"
          class="edit-load-actions__save">Save</button>
      </div>
    </form>
  </div>
</section>
