<app-loading *ngIf="isLoading"></app-loading>
<section class="login-employee-form">
  <div fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Login as Employee</mat-card-title>
      <mat-card-content>
        <form fxLayout="column" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput placeholder="MC number" formControlName="mcNumber">
            <mat-error *ngIf="mcNumber.hasError('required')">
              MC number is required.
            </mat-error>
            <mat-error *ngIf="mcNumber.hasError('maxlength')">
              MC number max length is 70.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username">
            <mat-error *ngIf="username.hasError('required')">
              Username is required.
            </mat-error>
            <mat-error *ngIf="username.hasError('maxlength')">
              Username max length is 50.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="password.hasError('required')">
              Password is required.
            </mat-error>
            <mat-error *ngIf="password.hasError('maxlength')">
              Password max length is 40.
            </mat-error>
          </mat-form-field>

          <div align="center">
            <a mat-raised-button color="warn" routerLink="../" class="login-employee-actions__cancel">Cancel</a>
            <button mat-raised-button color="primary" [disabled]="formGroup.invalid"
              class="login-employee-actions__login">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</section>