.loads-list {
  margin: 10px 50px; min-height: 88vh
}

.loads-list__actions {
  margin: 10px 0;
}

.load-actions__delete {
  cursor: pointer;
  margin-left: 10px;
}

.load-actions__edit {
  cursor: pointer;
}

.loads-list__load-actions {
  margin: 10px 0;
}
