<form fxLayout="column" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email">
    <mat-error *ngIf="email.hasError('required')">
      Email is required.
    </mat-error>
    <mat-error *ngIf="email.hasError('maxlength')">
      Email max length is 254.
    </mat-error>
    <mat-error *ngIf="email.hasError('notUnique')">
      Email isn't unique.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
    <mat-error *ngIf="username.hasError('required')">
      Username is required.
    </mat-error>
    <mat-error *ngIf="username.hasError('maxlength')">
      Username max length is 50.
    </mat-error>
    <mat-error *ngIf="username.hasError('notUnique')">
      Username isn't unique.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Company name" formControlName="companyName">
    <mat-error *ngIf="companyName.hasError('required')">
      Company name is required.
    </mat-error>
    <mat-error *ngIf="companyName.hasError('maxlength')">
      Company name max length is 100.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Primary contact name" formControlName="primaryContactName">
    <mat-error *ngIf="primaryContactName.hasError('required')">
      Primary contact name is required.
    </mat-error>
    <mat-error *ngIf="primaryContactName.hasError('maxlength')">
      Primary contact name max length is 100.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Main address" formControlName="mainAddress">
    <mat-error *ngIf="mainAddress.hasError('required')">
      Main address is required.
    </mat-error>
    <mat-error *ngIf="mainAddress.hasError('maxlength')">
      Main address max length is 200.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Zip" formControlName="zipCode">
    <mat-error *ngIf="zipCode.hasError('required')">
      Zip code is required.
    </mat-error>
    <mat-error *ngIf="zipCode.hasError('maxlength')">
      Zip code max length is 15.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Fax" formControlName="fax">
    <mat-error *ngIf="fax.hasError('required')">
      Fax is required.
    </mat-error>
    <mat-error *ngIf="fax.hasError('maxlength')">
      Fax max length is 30.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="MC#" formControlName="mcNumber">
    <mat-error *ngIf="mcNumber.hasError('required')">
      MC# is required.
    </mat-error>
    <mat-error *ngIf="mcNumber.hasError('maxlength')">
      MC# max length is 70.
    </mat-error>
    <mat-error *ngIf="mcNumber.hasError('notUnique')">
      MC# isn't unique.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="DOT#" formControlName="dotNumber">
    <mat-error *ngIf="dotNumber.hasError('required')">
      DOT# is required.
    </mat-error>
    <mat-error *ngIf="dotNumber.hasError('maxlength')">
      DOT# max length is 70.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="password.hasError('required')">
      Password is required.
    </mat-error>
    <mat-error *ngIf="password.hasError('maxlength')">
      Password max length is 40.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword"
      pattern="{{ password.value }}">
    <mat-error *ngIf="confirmPassword.hasError('required')">
      Confirm password is required.
    </mat-error>
    <mat-error *ngIf="confirmPassword.hasError('maxlength')">
      Confirm password max length is 40.
    </mat-error>
    <mat-error *ngIf="confirmPassword.errors && confirmPassword.errors['pattern']">
      Passwords must match.
    </mat-error>
  </mat-form-field>

  <div align="center" class="company-register-actions">
    <a mat-raised-button color="warn" routerLink="../" class="company-register-actions__cancel">Cancel</a>
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid"
      class="company-register-actions__register">Register</button>
  </div>
</form>