<header class="header mat-elevation-z8">
  <mat-toolbar color="primary">
    <mat-icon *ngIf="displaySidebarToggleButton()" class="header__menu" (click)="onClickToggle()">menu</mat-icon>

    <a class="header__home-link" (click)="navigateToPrincipalPage()">
      <mat-icon class="header__home-link__icon">home</mat-icon>  
      LoadProPlus
    </a>

    <ul fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="10px" class="header__navigation-items">
      <li *appAuthorize="'ViewCompanyProfile'">
        <a class="navigation-items__item" (click)="navigateToProfilePage()">
          <mat-icon class="navigation-items__item__icon">account_circle</mat-icon>
          Profile
        </a>
      </li>

      <li *ngIf="!isAuthenticated">
        <a class="navigation-items__item" routerLink="/login">
          <mat-icon class="navigation-items__item__icon">input</mat-icon>
          Login
        </a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a class="navigation-items__item" routerLink="/register">
          <mat-icon class="navigation-items__item__icon">shop</mat-icon>
          Register
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <a class="navigation-items__item" (click)="onClickLogout()">
          <mat-icon class="navigation-items__item__icon">power_settings_new</mat-icon>
          Logout
        </a>
      </li>
    </ul>
  </mat-toolbar>
</header>