.header__navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.navigation-items__item {
  text-decoration: none;
  color: white;

  &:hover, &:active {
    color: lightgray;
  }
}

.header__home-link {
  margin-left: 20px;
  text-decoration: none;
  color: white;

  &:hover, &:active {
    color: lightgray;
  }
}

.header__home-link {
  text-decoration: none;
  color: white;
  cursor: pointer;

  &:hover, &:active {
    color: lightgray;
  }
}

.header__home-link__icon {
  display: inline-flex;
  vertical-align: middle; 
}

.header__menu {
  cursor: pointer;
  color: white;

  &:hover, &:active {
    color: lightgray;
  }
}

.header{
  z-index: 2;
  position: relative;
}

.navigation-items__item__icon {
  display: inline-flex;
  vertical-align: middle;
}
