<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <app-broker-company-sidebar *appAuthorize="'BrokerCompany'"></app-broker-company-sidebar>
    <app-broker-sidebar *appAuthorize="'Broker'"></app-broker-sidebar>
    <app-dispatcher-company-sidebar *appAuthorize="'DispatcherCompany'"></app-dispatcher-company-sidebar>
    <app-dispatcher-sidebar *appAuthorize="'Dispatcher'"></app-dispatcher-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>