<div mat-dialog-content>
  {{ data.message }}
</div>
<div align="center" mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">No</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
<div>
