<mat-nav-list>
  <a mat-list-item routerLink="/dispatcher-company" (click)="toggleSidebar()">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLink="dispatchers-list" (click)="toggleSidebar()">
    <mat-icon>people</mat-icon>
    Dispatchers list
  </a>
  <a mat-list-item routerLink="broker-companies" (click)="toggleSidebar()">
    <mat-icon>business_center</mat-icon>
    Broker companies
  </a>
</mat-nav-list>