<section class="login-options">
  <div fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z8">
      <mat-card-content fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">
        <a mat-raised-button color="warn" routerLink="/login/company">Login as Company</a>
        <a mat-raised-button color="warn" routerLink="/login/employee">Login as Employee</a>
      </mat-card-content>
    </mat-card>
  </div>
</section>