<section class="register-options">
  <div fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z8">
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
          <a mat-raised-button color="warn" routerLink="/register/dispatcher-company">Register as Dispatcher Company</a>
          <a mat-raised-button color="warn" routerLink="/register/broker-company">Register as Broker Company</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>