.loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 255, 0.15);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transparent-background {
  background-color: transparent;
}
