<div class="loading-shade" [style.border-radius]="borderRadius" [ngClass]="{'transparent-background': !shadow}">
  <mat-spinner class="spinner" [diameter]="diameter" [strokeWidth]="strokeWidth"></mat-spinner>
</div>
