<mat-nav-list>
  <a mat-list-item routerLink="/broker" (click)="toggleSidebar()">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLink="loads-list" (click)="toggleSidebar()">
    <mat-icon>ballot</mat-icon>
    Loads list
  </a>
  <a mat-list-item routerLink="dispatcher-companies" (click)="toggleSidebar()">
    <mat-icon>call</mat-icon>
    Dispatcher companies
  </a>
</mat-nav-list>