<mat-nav-list>
  <a mat-list-item routerLink="/dispatcher" (click)="toggleSidebar()">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLink="trucks-list" (click)="toggleSidebar()">
    <mat-icon>local_shipping</mat-icon>
    Trucks list
  </a>
  <a mat-list-item routerLink="broker-companies" (click)="toggleSidebar()">
    <mat-icon>business_center</mat-icon>
    Broker companies
  </a>
</mat-nav-list>