<h1>Create broker</h1>
<form fxLayout="column" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
    <mat-error *ngIf="username.hasError('required')">
      Username is required.
    </mat-error>
    <mat-error *ngIf="username.hasError('maxlength')">
      Username max length is 50.
    </mat-error>
    <mat-error *ngIf="username.hasError('notUnique')">
      Username isn't unique.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="email.hasError('required')">
      Email is required.
    </mat-error>
    <mat-error *ngIf="email.hasError('maxlength')">
      Email max length is 254.
    </mat-error>
    <mat-error *ngIf="email.hasError('notUnique')">
      Email isn't unique.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
    <mat-error *ngIf="name.hasError('required')">
      Name is required.
    </mat-error>
    <mat-error *ngIf="name.hasError('maxlength')">
      Name max length is 50.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Surname" formControlName="surname">
    <mat-error *ngIf="surname.hasError('required')">
      Surname is required.
    </mat-error>
    <mat-error *ngIf="surname.hasError('maxlength')">
      Surname max length is 50
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone" formControlName="phone">
    <mat-error *ngIf="phone.hasError('required')">
      Phone is required.
    </mat-error>
    <mat-error *ngIf="phone.hasError('maxlength')">
      Phone max length is 30.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password">
    <mat-error *ngIf="password.hasError('required')">
      Password is required.
    </mat-error>
    <mat-error *ngIf="password.hasError('maxlength')">
      Password max length is 40.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword"
      pattern="{{ password.value }}">
    <mat-error *ngIf="confirmPassword.hasError('required')">
      Confirm password is required.
    </mat-error>
    <mat-error *ngIf="confirmPassword.hasError('maxlength')">
      Confirm password max length is 40.
    </mat-error>
    <mat-error *ngIf="confirmPassword.errors && confirmPassword.errors['pattern']">
      Passwords must match.
    </mat-error>
  </mat-form-field>

  <div align="center" class="create-broker-actions">
    <a mat-raised-button (click)="this.dialogRef.close()" class="create-broker-actions__cancel">Cancel</a>
    <button mat-raised-button color="warn" [disabled]="formGroup.invalid"
      class="create-broker-actions__save">Save</button>
  </div>
</form>