<app-loading *ngIf="isLoading"></app-loading>
<section class="dispatcher-companies-list">
  <h1>Dispatcher companies list</h1>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">
    <ng-container matColumnDef="mcNumber">
      <mat-header-cell *matHeaderCellDef>MC</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.mcNumber }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="companyName">
      <mat-header-cell *matHeaderCellDef>Company name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.companyName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="mainAddress">
      <mat-header-cell *matHeaderCellDef>Main address</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.mainAddress }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="zipCode">
      <mat-header-cell *matHeaderCellDef>Zip code</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.zipCode }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="primaryContactName">
      <mat-header-cell *matHeaderCellDef>Primary contact name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.primaryContactName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fax">
      <mat-header-cell *matHeaderCellDef>Fax</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.fax }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dotNumber">
      <mat-header-cell *matHeaderCellDef>Dot number</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.dotNumber }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator class="mat-elevation-z8" [length]="resultsLength" [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons [pageSize]="pageSize"></mat-paginator>

</section>
