.dispatchers-list {
  margin: 10px 50px; min-height: 88vh
}

.dispatchers-list__actions {
  margin: 10px 0;
}

.dispatcher-actions__edit {
  cursor: pointer;
}

.dispatcher-actions__delete {
  cursor: pointer;
  margin-left: 10px;
}
