<mat-nav-list>
  <span></span>
  <a mat-list-item routerLink="/broker-company" (click)="toggleSidebar()">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLink="brokers-list" (click)="toggleSidebar()">
    <mat-icon>people</mat-icon>
    Brokers list
  </a>
  <a mat-list-item routerLink="dispatcher-companies" (click)="toggleSidebar()">
    <mat-icon>call</mat-icon>
    Dispatcher companies
  </a>
</mat-nav-list>