/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-bar-error {
  color: #ff3421;
}

.snack-bar-warning {
  color: #ff8b11;
}

.snack-bar-success {
  color: #00ff10;
}
