<app-loading *ngIf="isLoading"></app-loading>

<section class="trucks-list">
  <h1>Trucks list</h1>

  <div class="trucks-list__actions">
    <div align="right">
      <button mat-raised-button color="warn" (click)="onClickAdd()">
        <mat-icon>add</mat-icon>
        Add truck
      </button>
    </div>
  </div>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">
    <ng-container matColumnDef="truckNumber">
      <mat-header-cell *matHeaderCellDef>Truck number</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.truckNumber }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="trailerNumber">
      <mat-header-cell *matHeaderCellDef>Trailer number</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.trailerNumber }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="trailerType">
      <mat-header-cell *matHeaderCellDef>Trailer type</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.trailerType }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="principalDriver">
      <mat-header-cell *matHeaderCellDef>Principal driver</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.principalDriver.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="secondaryDriver">
      <mat-header-cell *matHeaderCellDef>Secondary driver</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.secondaryDriver ? row.secondaryDriver.email : '-' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="trucks-list__truck-actions">
          <mat-icon class="truck-actions__edit" (click)="onClickEdit(row.id)">edit</mat-icon>
          <mat-icon class="truck-actions__delete" (click)="onClickDelete(row.id)">delete</mat-icon>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator class="mat-elevation-z8" [length]="resultsLength" [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons [pageSize]="pageSize"></mat-paginator>

</section>