.trucks-list {
  margin: 10px 50px; min-height: 88vh
}

.trucks-list__actions {
  margin: 10px 0;
}

.truck-actions__delete {
  cursor: pointer;
  margin-left: 10px;
}

.truck-actions__edit {
  cursor: pointer;
}

.trucks-list__truck-actions {
  margin: 10px 0;
}
