<section fxLayout="column">
  <h1>Create truck</h1>

  <div fxLayout="column">
    <p>Truck details</p>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="Truck number" formControlName="truckNumber">
          <mat-error *ngIf="truckNumber.hasError('required')">
            Truck number is required.
          </mat-error>
          <mat-error *ngIf="truckNumber.hasError('maxlength')">
            Truck number max length is 30.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Trailer number" formControlName="trailerNumber">
          <mat-error *ngIf="trailerNumber.hasError('required')">
            Trailer number is required.
          </mat-error>
          <mat-error *ngIf="trailerNumber.hasError('maxlength')">
            Trailer number max length is 30.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Trailer type" [matAutocomplete]="auto" formControlName="trailerTypeId">
          <mat-error *ngIf="trailerTypeId.hasError('required')">
            Truck number is required.
          </mat-error>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTrailerType">
            <mat-option *ngFor="let trailerType of filteredTrailerTypes | async" [value]="trailerType.id">
              {{ trailerType.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>

      <p>Principal driver</p>

      <div fxLayoutGap="10px" formGroupName="principalDriver">
        <mat-form-field>
          <input matInput placeholder="Firstname" formControlName="firstName">
          <mat-error *ngIf="principalDriverFirstName.hasError('required')">
            Firstname is required.
          </mat-error>
          <mat-error *ngIf="principalDriverFirstName.hasError('maxlength')">
            Firstname max length is 50.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Surname" formControlName="surname">
          <mat-error *ngIf="principalDriverSurname.hasError('required')">
            Surname is required.
          </mat-error>
          <mat-error *ngIf="principalDriverSurname.hasError('maxlength')">
            Surname max length is 50.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Phone number" formControlName="phoneNumber">
          <mat-error *ngIf="principalDriverPhoneNumber.hasError('required')">
            Phone number is required.
          </mat-error>
          <mat-error *ngIf="principalDriverPhoneNumber.hasError('maxlength')">
            Phone number max length is 30.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="principalDriverEmail.hasError('required')">
            Email is required.
          </mat-error>
          <mat-error *ngIf="principalDriverEmail.hasError('maxlength')">
            Email max length is 254.
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="!isDisplayedSecondaryDriverForm">
        <a mat-mini-fab color="accent">
          <mat-icon (click)="showSecondaryDriverForm()">add</mat-icon>
        </a>
        Add secondary driver
      </div>

      <div *ngIf="isDisplayedSecondaryDriverForm">
        <a mat-mini-fab color="accent">
          <mat-icon (click)="hideSecondaryDriverForm()">clear</mat-icon>
        </a>
        Hide secondary driver
      </div>

      <div *ngIf="isDisplayedSecondaryDriverForm">
        <p>Secondary driver</p>

        <div fxLayoutGap="10px" formGroupName="secondaryDriver">
          <mat-form-field>
            <input matInput placeholder="Firstname" formControlName="firstName">
            <mat-error *ngIf="secondaryDriverFirstName.hasError('required')">
              Firstname is required.
            </mat-error>
            <mat-error *ngIf="secondaryDriverFirstName.hasError('maxlength')">
              Firstname max length is 50.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Surname" formControlName="surname">
            <mat-error *ngIf="secondaryDriverSurname.hasError('required')">
              Surname is required.
            </mat-error>
            <mat-error *ngIf="secondaryDriverSurname.hasError('maxlength')">
              Surname max length is 50.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Phone number" formControlName="phoneNumber">
            <mat-error *ngIf="secondaryDriverPhoneNumber.hasError('required')">
              Phone number is required.
            </mat-error>
            <mat-error *ngIf="secondaryDriverPhoneNumber.hasError('maxlength')">
              Phone number max length is 30.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="secondaryDriverEmail.hasError('required')">
              Email is required.
            </mat-error>
            <mat-error *ngIf="secondaryDriverEmail.hasError('maxlength')">
              Email max length is 254.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div align="center" class="create-truck-actions">
        <a mat-raised-button color="default" (click)="this.dialogRef.close()"
          class="create-truck-actions__cancel">Cancel</a>
        <button mat-raised-button color="warn" [disabled]="formGroup.invalid"
          class="create-truck-actions__create">Create</button>
      </div>
    </form>
  </div>
</section>